{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>REACT</h1>
<div id="react_root"></div>


<script type="text/javascript" src="{% static "js/main.js" %}"></script>
</body>
</html>